<% layout("/layouts/boiler") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h1>Create New Listing</h1>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" placeholder="Enter title" required>
            <div class="invalid-feedback">Please enter title</div>
        </div>

        <div  class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter description</div>
        </div>
        
        <div  class="mb-3">
            <label for="image" class="form-label" >Upload Image</label>
            <input type="file" name="image" id="image" class="form-control">
        </div>
        
        
        <div class="row">
            <div  class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="price" id="price" class="form-control" placeholder="Enter price" required>
                <div class="invalid-feedback">Please enter price</div>
            </div>

            <div  class="mb-3 col-md-8">
                <label for="coun" class="form-label">Country</label>
                <input type="text" name="country" id="coun" class="form-control" placeholder="Enter country" required>
                <div class="invalid-feedback">Please enter country name</div>
            </div>
        </div>
        <div  class="mb-3">
            <label for="loc" class="form-label">Location</label>
            <input type="text" name="location" id="loc" class="form-control" placeholder="Enter location" required>
            <div class="invalid-feedback">Please enter location</div>
        </div>
        
        <div  class="mb-3 col-md-4">
            <label for="category" class="form-label">Select the category</label>
            <select name="category" id="category">
                <option value="Trending">Trending</option>
                <option value="Rooms">Rooms</option>
                <option value="Iconic cities">Iconic cities</option>
                <option value="Mountains">Mountains</option>
                <option value="Castles">Castles</option>
                <option value="Amazing pools">Amazing pools</option>
                <option value="Camping">Camping</option>
                <option value="Farms">Farms</option>
                <option value="Arctic">Arctic</option>
            </select>
        </div>
        
        
        <button class="btn btn-dark add-btn mt-3">ADD</button>
    </form>
    </div>
    </div>
</body>